
    @keyframes show-up-img {
        0% {
          opacity: 0;
        }
    
        50% {
          opacity: 0;
        }
    
        100% {
          opacity: 1;
        }
      }
    .header {
        margin-top: -2vh;
        background: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        text-align: center;
        z-index: 999;
        padding: 0px 0;
        overflow: hidden;
    }

    .info-intro {
        position: fixed;
        z-index: 100 !important;
        overflow: visible !important;
        clip-path: polygon(1% 1%, 99% 0, 99% 99%, 1% 99%);
        margin-left: -25vw;
        height: 95vh;
        width: 50vw;
        background: none;
        margin-top: -85vh;
        cursor: pointer;
        animation: 1s ease-out 0s 1 slide-down;


    }

    .expandido {
        overflow: none;
        clip-path: polygon(1% 1%, 99% 0, 99% 99%, 1% 99%);
        position: fixed;
        margin-left: -25vw;
        height: 95vh;
        width: 50vw;
        background: none;

        margin-top: -100vh;
        animation: 1s ease-out 0s 1 slide-up;
        cursor: pointer;

    }

    .hide-intro {
        padding-top: 3vh;
        background-color: rgb(255, 255, 255, 0.07);
        border-radius: 10%;
        width: 32vw;
        height: max-content;
        margin-inline-start: 34vw;
        justify-content: center;
        animation: 2.5s show-up-img;
        align-items: baseline;
        margin-top: -1vh;
        margin-bottom: 13vh;
        font-family: 'Monsterrat';
        font-size: 3.3vh !important;
        overflow: hidden;
        position: relative;
        z-index: 501;
        cursor: pointer;
    }

    @keyframes slide-up {
        0% {
            -webkit-transform: translateY(-50%);
        }

        100% {
            -webkit-transform: translateY(0%);
        }
    }

    @keyframes slide-down {
        0% {
            -webkit-transform: translateY(40%);
        }

        100% {
            -webkit-transform: translateY(0%);
        }
    }



    body {
        background-color: #000000;
    }

    .page-home {
        background-image: url("./img/wallpaper.jpg");
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        min-height: 100vh;
        height: max-content;
        position: absolute;
        zoom: 1;
    }

    
    .moldura-h {
        position: absolute;
        width: 55vw;
        height: 85vh;
        top: 10vh;
        left: 22%;
        z-index: 1 !important;
    }

    .button-right, .button-left {
        rotate: 90deg;
        position: absolute;
        cursor: pointer;
        padding: 30px;
        background: #000;
        border-radius: 50%;
        transition: all 0.2s linear;
    }
    .button-right{
        top:50%;
        right: 10%
    }
    
    .button-left{
        top:50%;
        left: 10%
    }

    .button-left:hover {
        transform: translate3d(0, 10px, 0);
    }

    .button-right:hover {
        transform: translate3d(0, -10px, 0);
    }

    .button-right::after,
    .button-left::after {
        content: "";
        position: absolute;
        left: 17px;
        z-index: 11;
        display: block;
        width: 25px;
        height: 25px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
    }

    .button-right::after {
        top: 20px;
        transform: rotate(45deg);
    }

    .button-left::after {
        top: 10px;
        transform: rotate(225deg);
    }

    .slider-container {
        position: absolute;
        top: 14vh;
        width: 51vw;
        left: 24%;
        height: 76vh;
        overflow: hidden;
        z-index: 1 !important;
    }

    .frame-intro:hover .slider-container .imgTitle {
        opacity: 1;
        transition: opacity 1s;
        position: absolute;
        z-index: 9999999999999;
    }

    .imgTitle {
        background-color: rgb(0, 0, 0, 0.5);
        color: aliceblue;
        opacity: 0;
        height: 76vh;
        width: 51vw;
    }
    .imgTitle h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redirectarea{
        cursor: pointer;
        top: 14vh;
        width: 51vw;
        left: 24%;
        height: 76vh;
        position: absolute;
        z-index: 2;

    }

    .imgSlider {
        background-size: cover; 
        background-color: #000000;
        height: 76vh!important;
        width: 51vw!important;
    }

    .slide1 {
        
        background-image: url("./img/1.jpg");
    }

    .slide2 {
        
        background-image: url("./img/4.jpg");
    }

    .slide3 {
        
        background-image: url("./img/3.jpg");
    }

    .slide4 {
        
        background-image: url("./img/5.png");
    }

    .slide5 {
        background-image: url("./img/2.jpg");
    }

    @media (max-width: 600px) {
        

        .slider-container {
            position: absolute;
            width: 80vw;
            height: 70vh!important;
            overflow: visible;
            z-index: 1 !important;
            left: 10%!important;
        }
        

    .frame-intro:hover .slider-container .imgTitle {
        height: 70vh!important;
        opacity: 1;
        transition: opacity 1s;
        position: absolute;
        z-index: 9999999999999;
    }

    .imgTitle {
        background-color: rgb(0, 0, 0, 0.5);
        color: aliceblue;
        opacity: 0;
        height: 70vh!important;
        width: 80vw;
    }
    .imgTitle h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgSlider {
        width:80vw!important;
        height: 70vh!important;
    }
    .info-intro {
        margin-left: -35vw;
        width: 70vw;
    }
    .expandido {
        margin-left: -35vw;
        width: 70vw;
    }

    .hide-intro {
        font-size: 2.0vh !important;
        width: 45vw;
        margin-inline-start: 25vw;
    }


    .moldura-h {
        width: 100vw;
        left: 0%;
        height: 70vh!important;
    }
    .button-right, .button-left {
        top:40%!important;
        padding: 24px;
        z-index: 2;
    }
    .button-right::after,
    .button-left::after {
        width: 15px;
        height: 15px;
    }
    .imgSlider {
        background-position: 40%;
        height: 60vh!important;
        overflow: hidden;
    }

    }