@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

.no_decoration {
    text-decoration: none;
}

.dropdown-mobile {
    display: none;
}

.book-cover {
    background: #402a23;
    border-radius: 3px;
    padding: 3px;
    width: 80vw !important;
    height: 80vh;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

@keyframes slide-icons-side-right {
    0% {
        -webkit-transform: translateX(200%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes scroll {
    100% {
        background-position-y: 0%;
    }

    100% {
        background-position-y: 400%;
    }
}

@keyframes slide-sidebar-content {
    0% {
        right: 57vw;
    }

    100% {
        right: 76vw;

    }
}

@keyframes slide-sidebar-content-background {
    0% {
        right: 57vw;
    }

    100% {
        right: 76vw;

    }
}

.book-img {
    max-width: 37vw;
    max-height: 70vh;
    width: auto;
    height: auto;
    border-radius: 2%;
    display: block;
}

.book-author {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 5vh;
}

.page_format {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}




* {
    box-sizing: border-box;
}



.book {
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 1200px;
}

.book__page {
    width: 40vw;
    height: 80vh;
    display: grid;
    transform: rotateY(0deg);
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: 0% 0%;
    background-color: var(--page-bg);

    background-image: url("/layout/paint/book_page1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.book__page:nth-of-type(1) {

    background-image: url("/layout/paint/book_page1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-1 {
    cursor: pointer;
    overflow: hidden;
}

.page-2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: block;
    right: 0;
    pointer-events: none;
    transform-style: preserve-3d;
    background-image: url("/layout/paint/book_page1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-4 {
    position: absolute;
    right: 0;
    z-index: 0;
    pointer-events: none;
    transform-style: preserve-3d;
    background-image: url("/layout/paint/book_page1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.page-3 {

    margin-right: 0vw;
    cursor: pointer;
    z-index: -5;
}


.book__page-front {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg) translateZ(1px);
}

.book__page-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg) translateZ(1px);
}

.book__page-front2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg) translateZ(2px);
}

.book__page-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg) translateZ(2px);
}

.book__page .page__content {
    padding: 5%;
    height: 100%;
    position: relative;
    text-align: center;
}

.book__page .page__content-author {
    font-family: "Cormorant Garamond", serif;
    ;
    font-size: 3vh;
    font-weight: 100;
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
    display: inline-block;
    padding: 0 2vw 0 2vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.book__page .page__content-credits {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;

    text-transform: uppercase;
    font-size: 2.5vh;
    letter-spacing: 1px;
}

.book__page .page__content-credits span {
    display: block;
    padding: 0 2vw 0 2vw;
    font-weight: bolder !important;
    font-size: 2vh;
    letter-spacing: 0;
}

.page__content-copyright {
    font-family: "Cormorant Garamond", serif;
    ;
}

.book__page .page__content-title {
    font-family: "Cormorant Garamond", serif;
    ;
    font-size: calc(var(--base-size) * 1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: calc(var(--baseline) * 5);
    margin-bottom: calc(var(--baseline) * 3);
}

.book__page .page__content-table {
    width: 100%;
    margin-top: calc(var(--baseline) * 2);
}

.book__page .page__content-table td {
    font-family: "Cormorant Garamond", serif;
    ;
    font-size: calc(var(--base-size) * 1);
    padding-bottom: calc(var(--baseline) * 1.5);
    text-transform: uppercase;
}

.book__page .page__content-blockquote {
    margin-bottom: calc(var(--baseline) * 2);
}

.book__page .page__content-blockquote-text {
    font-family: "Cormorant Garamond", serif;
    ;
    font-size: calc(var(--base-size) * 0.67);
    font-style: italic;
    text-align: justify;
}

.book__page .page__content-blockquote-reference {
    font-family: "Cormorant Garamond", serif;
    ;
    font-size: calc(var(--base-size) * 0.7);
    margin-top: calc(var(--baseline) * 0.3);
    float: right;
    text-transform: uppercase;
}

.book__page .page__content-text {
    font-family: "Cormorant Garamond", serif;
    ;
    font-size: calc(var(--base-size) * 0.67);
    text-align: justify;
    text-indent: var(--baseline);
}

.book__page .page__number {
    position: absolute;
    bottom: var(--baseline);
    width: calc(100% - (var(--baseline) * 2));
    font-family: "Cormorant Garamond", serif;
    ;
    font-size: calc(var(--base-size) * 0.67);
    text-align: center;
}

.book input[type="radio"] {
    display: none;

}

.next-page {
    z-index: 2;
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: rotateY(-180deg);
}

.prev-page {
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: rotateY(180deg), scalex(-1);
}





//fim book
.paint-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    --body-bg: #fafafa;
    --page-bg: #f5f5f5;
    --dark-text: #2a2935;
    --baseline: 12px;
    --base-size: var(--baseline) * 1.2;
    position: absolute;
    background-image: url("/layout/paint/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.side-expanded-background-paint {
    z-index: 1;
    animation: 0.3s linear slide-sidebar-content;

    margin-left: -37.5vw !important;
}

.sidebar-authors {
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    width: 25vw;
    margin-right: -114.5vw;
    height: 100vh;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-image: url("/layout/paint/wallpaper-authors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.background-sidebar-authors {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    height: 100%;
    position: absolute;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;


}

.logo-sidebar-authors {
    max-height: 20vh;
    height: auto;
    width: auto;
    display: block;
    margin-right: -87vw;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

@keyframes slide-sidebar-logo {
    0% {
        right: 50vw;
    }

    100% {
        right: 70vw;

    }
}

.logo-expanded {
    animation: 0.3s linear slide-sidebar-logo;
    margin-right: -50vw;
}

.sidebar-authors-border {
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    width: 25vw;
    margin-right: -114vw;
    height: 100vh;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.choose-author {
    margin-top: 20vh;
    background-color: rgb(245, 245, 245, 0.5);
    height: 55vh;
    width: 18vw;
    border-radius: 10px;
    padding: 6%;
}

.choose-author p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2vh;
    font-weight: 100;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
}

.side-expanded {
    animation: 0.3s linear slide-sidebar-content;
    z-index: 1;
    margin-right: -77vw !important;
}








@keyframes show-up-img {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header {
    margin-top: -2vh;
    background: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    z-index: 999;
    padding: 0px 0;
    overflow: hidden;
}

.info-intro {
    position: fixed;
    z-index: 100 !important;
    overflow: visible !important;
    clip-path: polygon(1% 1%, 99% 0, 99% 99%, 1% 99%);
    margin-left: -25vw;
    height: 95vh;
    width: 50vw;
    background: none;
    margin-top: -85vh;
    cursor: pointer;
    animation: 1s ease-out 0s 1 slide-down;


}

.expandido {
    overflow: none;
    clip-path: polygon(1% 1%, 99% 0, 99% 99%, 1% 99%);
    position: fixed;
    margin-left: -25vw;
    height: 95vh;
    width: 50vw;
    background: none;

    margin-top: -100vh;
    animation: 1s ease-out 0s 1 slide-up;
    cursor: pointer;

}

.hide-intro {
    padding-top: 1vh;
    background-color: rgb(255, 255, 255, 0.07);
    border-radius: 10%;
    width: 32vw;
    height: max-content;
    margin-inline-start: 34vw;
    justify-content: center;
    animation: 2.5s show-up-img;
    align-items: baseline;
    margin-top: -1vh;
    margin-bottom: 13vh;
    font-family: 'Monsterrat';
    font-size: 3.3vh !important;
    overflow: hidden;
    position: relative;
    z-index: 501;
    cursor: pointer;
}

@keyframes slide-up {
    0% {
        -webkit-transform: translateY(-50%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(40%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}



body {
    background-color: #000000;
}

.page-home {
    background-image: url("/img/wallpaper.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0 !important;
    zoom: 1;
}


.moldura-h {
    position: absolute;
    width: 55vw;
    height: 85vh;
    top: 10vh;
    left: 22%;
    z-index: 1 !important;
}

.button-right,
.button-left {
    rotate: 90deg;
    position: absolute;
    cursor: pointer;
    padding: 30px;
    background: #000;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.button-right {
    top: 50%;
    right: 10%
}

.button-left {
    top: 50%;
    left: 10%
}

.button-left:hover {
    transform: translate3d(0, 10px, 0);
}

.button-right:hover {
    transform: translate3d(0, -10px, 0);
}

.button-right::after,
.button-left::after {
    content: "";
    position: absolute;
    left: 17px;
    z-index: 11;
    display: block;
    width: 25px;
    height: 25px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.button-right::after {
    top: 20px;
    transform: rotate(45deg);
}

.button-left::after {
    top: 10px;
    transform: rotate(225deg);
}

.slider-container {
    position: absolute;
    top: 14vh;
    width: 51vw;
    left: 24%;
    height: 76vh;
    overflow: hidden;
    z-index: 1 !important;
}

.frame-intro:hover .slider-container .imgTitle {
    opacity: 1;
    transition: opacity 1s;
    z-index: 3;
}

.imgTitle {
    background-color: rgb(0, 0, 0, 0.5);
    color: aliceblue;
    opacity: 0;
    height: 76vh;
    padding-bottom: 10vh;
    width: 51vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirectarea {
    cursor: pointer;
    top: 14vh;
    width: 51vw;
    left: 24%;
    height: 76vh;
    position: absolute;
    z-index: 2;

}

.imgSlider {
    background-size: cover;
    background-color: #000000;
    height: 76vh !important;
    width: 51vw !important;
}

.slide1 {

    background-image: url("/img/1.jpg");
}

.slide2 {

    background-image: url("/img/4.jpg");
}

.slide3 {

    background-image: url("/img/3.jpg");
}

.slide4 {

    background-image: url("/img/5.png");
}

.slide5 {
    background-image: url("/img/2.jpg");
}

@media (max-width: 600px) {


    .slider-container {
        position: absolute;
        width: 80vw;
        height: 70vh !important;
        overflow: visible;
        z-index: 1 !important;
        left: 10% !important;
    }


    .frame-intro:hover .slider-container .imgTitle {
        opacity: 1;
        transition: opacity 1s;
        position: absolute;
        z-index: 3;
    }

    .imgTitle {
        padding-bottom: 20vh;
        background-color: rgb(0, 0, 0, 0.5);
        color: aliceblue;
        opacity: 0;
        height: 70vh !important;
        width: 80vw;
    }

    .imgSlider {
        width: 80vw !important;
        height: 70vh !important;
    }

    .info-intro {
        margin-left: -45vw;
        width: 90vw;
    }

    .expandido {
        margin-left: -45vw;
        width: 90vw;
    }

    .hide-intro {
        font-size: 2.3vh !important;
        width: 45vw;
        margin-inline-start: 25vw;
    }


    .moldura-h {
        width: 100vw;
        left: 0%;
        height: 70vh !important;
    }

    .button-right,
    .button-left {
        top: 40% !important;
        padding: 24px;
        z-index: 2;
    }

    .button-right::after,
    .button-left::after {
        width: 15px;
        height: 15px;
    }

    .imgSlider {
        background-position: 40%;
        height: 60vh !important;
        overflow: hidden;
    }

}

@media (max-width: 600px) {
    .dropdown-mobile {
        display: block;
        position: absolute;
        top: 20%
    }

    .sidebar-authors {
        display: none;
    }

    .sidebar-authors-border {
        display: none;
    }

    .logo-sidebar-authors {
        display: none;
    }


    .book-img {
        display: flex;
        justify-content: center;
        max-width: 40vw;
        max-height: 33vh;
    }


    .book {
        width: 100%;
        height: 100%;
        display: flex;
        perspective: 1200px;
    }

    .book__page {
        width: 48vw;
        height: 40vh;
        display: grid;
        transform: rotateY(0deg);
        transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
        transform-origin: 0% 0%;
        background-color: var(--page-bg);

        background-image: url("/layout/paint/book_page1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .book__page:nth-of-type(1) {

        background-image: url("/layout/paint/book_page1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .page-1 {
        cursor: pointer;
        overflow: hidden;
    }

    .page-2 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        display: block;
        right: 0;
        pointer-events: none;
        transform-style: preserve-3d;
        background-image: url("/layout/paint/book_page1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .page-4 {
        position: absolute;
        right: 0;
        z-index: 0;
        pointer-events: none;
        transform-style: preserve-3d;
        background-image: url("/layout/paint/book_page1.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }

    .page-3 {

        margin-right: 0vw;
        cursor: pointer;
        z-index: -5;
    }


    .book__page-front {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotateY(0deg) translateZ(1px);
    }

    .book__page-back {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotateY(180deg) translateZ(1px);
    }

    .book__page-front2 {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotateY(0deg) translateZ(2px);
    }

    .book__page-back2 {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotateY(180deg) translateZ(2px);
    }

    .book__page .page__content {
        padding: 5%;
        height: 100%;
        position: relative;
        text-align: center;
    }

    .book__page .page__content-author {
        font-size: 1.5vh;
    }

    .book__page .page__content-credits {
        color: #000;
        font-size: 2vh !important;
    }

    .book__page .page__content-credits span {
        font-size: 1.5vh;
    }




    .next-page {
        z-index: 2;
        transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
        transform: rotateY(-180deg);
    }

    .prev-page {
        transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
        transform: rotateY(180deg), scalex(-1);
    }

    .book-cover {
        width: 100vw !important;
        height: 40vh;
    }

    .book-author {
        margin-top: 4px;
        font-size: 2vh;
    }

}