
.table-repos{
    min-width: 60vw!important;
    height: max-content;
    overflow-x: scroll;
    background-color: rgba(43, 43, 43, 0.7);
    padding: 10px;
    border-radius: 10px;
}
.table-striped thead tr th{
    color: white;
    background: rgb(65,65,65);
    background: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 50%, rgba(45,45,45,1) 100%);
 }
.page-link{
    background-color: #4b4b4b!important;
    border-color: rgb(61, 61, 61)!important;
    color: rgb(206, 206, 206)!important;
 }
 .active .page-link {
    background-color: #000000!important;
    color: rgb(255, 94, 0)!important;
 }
 